h3 {
  text-align: center;
  margin: 10px;
  color: black;
  font-weight: bold;
}

.component {
  margin: 30px;
}

.carousel {
  height:500px;
}

.aboutUS-container {
  
}

.footer {
  position: fixed !important;
  bottom: 0;
  width: 100%;
}